body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #000000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin:0
}


/* Container */
.container {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    background: url("../trip/img/aus.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
   justify-content: center;
    

}

.intro_inner {
    width: 100%;
    max-width: 315px;
    padding-top: 200px;
   
}

.intro__title {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    
}

.intro__subtitle {
    font-size: 25px;
    padding-top: 50px;
    color:#FFFCFC;
    opacity: 100%;
    font-weight: 400;
}



.intro__subtitle1 {
    width: 100%;
    max-width: 280px;
}
.intro__subtitle2 {
    padding-top: 50px;
    width: 100%;
    max-width: 185px; ;
}

.intro__hover {
    color:#ffffff;
    text-decoration: none;
}

.intro__hover:hover {
    color: #CC8111;
    text-decoration: 3px underline ;
    transition: .2s linear;
    
}



/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 25px;


}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
    color:#CC8111;
    letter-spacing: 3px;
}


/* Nav */
.nav {
font-size: 25px;
font-weight: 500;
margin: 0 auto;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    transition: color .2s linear;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
}

.nav__link:after {
    content: "";
    display: block;
    width:100%;
    height: 3px;
    background-color: #CC8111;
    position: absolute;
    top: 100%;
    left:0%;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}


.nav__link:hover {
    color: #CC8111;
}

.nav__link:hover::after {
    opacity: 1;
}


/* Slider */

.slider {
    display: flex;
    justify-content:flex-end;
    height: 230px;
    padding-bottom: 30px;
}

.slider__item1 {
    z-index: 1000;
    width: 15%;
    margin-right: 100px;
    border-radius: 20px;
    background: linear-gradient(360deg, #000000 -8.65%, rgba(0, 0, 0, 0) 100%), url("../trip/img/net.jpg");
}

.slider__item2 {
    z-index: 1000;
    width: 15%;
    background:linear-gradient(360deg, #000000 -8.65%, rgba(0, 0, 0, 0) 100%), url("../trip/img/grb.jpg");
    margin-right: 100px;
    border-radius: 20px;
}

.slider__item3 {
    z-index: 1000;
    width: 15%;
    background:linear-gradient(360deg, #000000 -8.65%, rgba(0, 0, 0, 0) 100%), url("../trip/img/nor.jpg");
    margin-right: 100px;
    border-radius: 20px;    
}

.slider__text {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 20px;
    color: #FFFCFC;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}

.slider__text:hover {
    color: #CC8111;
    text-decoration: 3px underline ;
    transition: .2s linear;
}